//Background color
//especies de zorro



//caracteristicas
.fondoCaracteristicas{
    background-color: #5dcceefa;
}
//curiosidades
.colorFondo{
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    
}

.principio__deco{
    background-color: rgb(160, 176, 201);
}

.tituloFondo{
    background-color:skyblue;
    border-radius: 10px;
    padding: 10px;
}