//Flex


/*Encabezado*/
.encabezado{
    background-image: url("../imagenes/Zorromodificado.png"); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    .encabezado__logo{
        width: 100px;
        height: 100px;
        transition: 1s;
    }
}



/*Index__Introduccion*/

.principio{
    height: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;  

}

.principio__flex{
    width: 30%;
    padding: 20px;
    line-height: 150%;
    word-spacing: 2px;
    text-align:left;
    border-radius: 30px;
    border:solid 2px black;
}



//gris

.flex_griiss{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*aplicando flex al contenido lazos zorros-humanos*/
.zorroHum{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    padding:  25px 0 0 0 ;

}

/*etiqueta footer*/
.footerSolo{
    background-image: url("../imagenes/Zorromodificado.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    color:white;
    padding: 20px;
    line-height: 150%;

    
}

.footersolo__redes{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding:0px 10px 0px 0px;
    align-items: flex-end;
    margin:10px 20px 0 0;

}

.footersolo__redes--space{
    margin: 10px;
}
//especies de zorro
/* Contenido de los 6 zorros*/
.seisZorro
{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
}

.seis{
    border: 2px solid lightblue;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5%;
}


//ubicacion geografica

.tituloGf{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

//ubicacio9n geografica__habitat
.habitat{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    align-items: center;
    .habitat__h{
    }
    
    .habitat__img{
        margin-bottom: 20px;
        width: 50%;
    }
    .habitat__txt{
        padding: 2%;
        text-align:center;
        font-size: 110%;
    }
         
}


//pag Curiosidades
/*Paguina curiosidades*/
.flexCur{
    margin-top: 1%;
    margin-left:10% ;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    height: 550px;
    width: 80%;
   
}

.flexCur__txt{
    padding: 1%;
    border: 5px dashed rgba(72, 9, 131, 0.527);
    border-radius: 10px;
}

.tituloFlexx{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2%;
    background-color: rgb(160, 176, 201);
    border-radius: 25px;
}


.principioFlex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
