//General

$fonGrad:#7cffcb;
$tiuloBorde:rgba(138, 189, 255, 0.952);
/*Reseteo*/
*{
    padding: 0;
    margin: 0;
}
html{
    font-family:"Roboto",sans-serif;
}

.titulo{
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
}

.margenes{
    margin-top: 10px;
}

body{
    width: 100%;
}

.tituloHdos{
    padding: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
}

fieldset{
    padding: 10px;
    line-height: 150%;
    }
    
legend{
        padding: 10px;
    }

.radio{
        border-radius: 30px;
   }

.bordecc{
    border:2px solid black;
}

//modificando los bootstrap
/* ccs con bootstrap*/

.ancho{
    width: 50rem ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.success{
   color:black;
   text-shadow:  2px 2px 6px;
}


.centrarCarrusel{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   margin-bottom: 70px;

}
.tamañoCarrucel{

   width: 600px;
   height: 450px ;
}

.imagenCarrusel{
   height: 500px;
}
.successWhite{
   color: white;
}
.successBlue{
   text-shadow: 2px 2px 6px rgb(78, 78, 122);
   color:rgb(27, 19, 9); 
}
.fondoBootstrap{
   background-color:$fonGrad;
   background-image:linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
}

.separacion{
   margin-top: 20px;

}

/* Especies de zorro*/
.centrarZoroo{
    text-align: center;

}


/*Map*/

$fondo:(
    body:white,
    titulo--ind:rgb(159, 207, 247),
    text--esp:white,
    text-cara:white,
    titulo--cara: rgb(96, 202, 235),
    secc:rgba(138, 189, 255, 0.952),
    secc--text: rgb(212, 220, 228),
    habitat:white,
    text--curi:cyan,
    Text:rgb(160, 176, 201)
);
@each $fcolor,$bgcolor in $fondo{
    .fondo__#{$fcolor}{
    background-color:$bgcolor;
    }
    
}

.imagin{
    width: 25vw;
    margin-bottom: 2px;
}
.mover
{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.espaciado {
    margin-bottom: 10wpx;
}

.separacionImg{

    padding: 5px;
}
