//Imagenes
/*INDEX__Introduccion*/
.imgprincipal{
    width:40%;
    height:450px ;   
   }

   /*etiqueta main*/
.imgSecundario{
    width: 250px;
    height: 200px;
}
//Especies de zorros
.principio__img{
    width: 800px;
    height:500px;
}

.imagenEz{
    width: 63% !important ;
    height: 350px !important;
    border-radius: 100px;
    margin-left: 20%;
    margin-bottom: 10px;
}

.encabezado__logo{
    width: 100px;
    height: 100px;
    transition: 1s;
}

